<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>購入履歴</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="static/css/histories.css" rel="stylesheet">


  </head>

  <body>
    <div class="container" id="app">
      
      <h1>購入履歴</h1>
      <ul v-for="reciept in reciepts">
        <li><a href="/watch?key=test">{{ reciept.addr }}</a></li>
      </ul>
      
    </div>

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var app2 = new Vue({
        el: '#app',
        data: {
          reciepts: []
        },
        methods: {
        },
        mounted(){
          this.reciepts = JSON.parse(localStorage.getItem("reciepts")) || [];
        }
      });

    </script>
  </body>
</html>

