<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="static/css/histories.css" rel="stylesheet">


  </head>

  <body>
    <div class="container">
      
      <h1>購入履歴</h1>

      <div class="movie-row">
        <div class="movie-thumbnail">
        </div>
        <div class="flexbox">
          <div class="movie-title">動画タイトル</div>
          <div class="movie-description">動画説明</div>
          <span class="movie-price">購入価格</span>
          <span class="movie-expire">視聴期限</span>
        </div>
      </div>

      <table id="table">
        
      </table>


    </div>

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      $(()=>{
        var reciepts = JSON.parse(localStorage.getItem("reciepts")) || [];
        reciepts.forEach(elem => {
          var uuid = elem.uuid;
          var addr = elem.addr;
          // /watch?pid=XXXX&addr=XXXX
          $('table').append(`<tr><td><a href="/watch?uuid=${uuid}&addr=${addr}">動画</a></td></tr>`);
        });
      });

    
    </script>
  </body>
</html>