<!DOCTYPE html>
<html lang="jp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/thumbnail-gallery.css" rel="stylesheet">

    <link href="static/css/common.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">

  </head>

  <body>
  <div id="app">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">動画共有サービス <span v-if="debug">[デバッグモード]</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/mypage">
                    マイページ
                  </a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/histories">
                  購入履歴
                </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <div>
                    Balance:&nbsp;<span id="balance">0</span>&nbsp;ETH
                </div>
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top: 24px; margin-bottom: 24px;">


        <div class="row">

          <!-- 東京タワーを見る動画 -->
          <div class="col-lg-3 col-md-4 col-xs-6 wrapper-thumbnail wrapper-a">
            <span class="label-live">LIVE</span>
            <img class="thumbnail" src="static/img/thumbnails/1.jpg" alt="">
            <p class="label-title">鳥が巣を作りました。</p>
            <a href="#" id="a_tag" v-on:click="onClickThumbnail"></a>
          </div>

          <!-- 猫を見る動画 -->
          <div class="col-lg-3 col-md-4 col-xs-6 wrapper-thumbnail">
            <span class="label-live">LIVE</span>
            <img class="thumbnail" src="static/img/thumbnails/2.jpg" alt="">
            <p class="label-title">花火を見る動画。</p>
          </div>

          <!-- 猫を見る動画 -->
          <div class="col-lg-3 col-md-4 col-xs-6 wrapper-thumbnail">
              <span class="label-live">LIVE</span>
              <img class="thumbnail" src="static/img/thumbnails/3.jpg" alt="">
              <p class="label-title">猫が癒してくれる動画。</p>
            </div>        
        
          <!-- 猫を見る動画 -->
          <div class="col-lg-3 col-md-4 col-xs-6 wrapper-thumbnail">
              <span class="label-live">LIVE</span>
              <img class="thumbnail" src="static/img/thumbnails/4.jpg" alt="">
              <p class="label-title">海の様子。</p>
            </div>
            
            
        </div>


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Passive Income 2018</p>
      </div>
      <!-- /.container -->
    </footer>


    <!-- loading bar -->
    <div class="dialog" v-if="processing">
      <img src="static/img/loading.gif" width="100px" height="100px">
    </div>

  </div> <!-- end app -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/uuid.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>-->
    <script src="static/js/eth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
      var app = new Vue({
        el: '#app',
        data: {
          balance: '---',
          timer: null,
          processing: false,
          debug: true,
        },
        methods: {
          /* 残高が変化した時にhookされる */
          hook: function(){
            this.processing = false;
            window.location.href="/watch?key=test";
          },

          /* 動画がクリックされた時に呼ばれる */
          onClickThumbnail: function(){
            //  購入処理中はブラックアウト
            //  購入処理
            var u4 = uuid4();
            var to = '0x8de894ec4a1102e43cc33039d28de0b011bd2d5a'
            buyMovieOnContract(to, u4, result=>{
              //saveUuid(to, u4);
              //  残高監視スタート
              this.processing = true;
              if(this.debug) this.initDummyWatchdog();
              else this.initWatchdog();
            });
          },

          /* 残高の変化をチェックするための関数 */
          initWatchdog: function(){
            this.timer = setInterval(this.tick, 1000);
          },
          /* 残高の変化があまりにも遅すぎるので騙すやつ */
          initDummyWatchdog: function(){
            setTimeout(()=>{
              this.hook();
            }, 4000);
          },

          tick: function(){
            var that = this;
            var myAddress = web3.eth.defaultAccount;
            web3.eth.getBalance(myAddress, (err, balance)=>{
              var current = balance.c[0]/10000;
              if(current!=that.balance){
                this.stopWatchdog();
                this.hook();
              }
            });
          },
          stopWatchdog: function(){
            clearInterval(this.timer);
            //this.timer = null;
          }
          
        },
        mounted(){
          var myAddress = web3.eth.defaultAccount;
          var that = this;
          web3.eth.getBalance(myAddress, (err, balance)=>{
            that.balance = balance.c[0]/10000;
          });
          
        }
      });


      $(()=>{
        // 現在の残高を表示する
        var myAddress = web3.eth.defaultAccount;
        web3.eth.getBalance(myAddress, function(err, balance){
          $('#balance').html(balance.c[0]/10000);
        });

        //  uuid保存
        function saveUuid(to, u4){
          var reciepts = JSON.parse(localStorage.getItem("reciepts")) || [];
          reciepts.push({
            uuid: u4,
            addr: to
          });
          localStorage.setItem("reciepts", JSON.stringify(reciepts));
        }

        //  購入処理を走らせる
        //  現状いいコールバックが見当たらないので、こんな実装にしてしまった
        $('#a_tag').on('click', ()=>{
          /*
          var u4 = uuid4();
          var to = '0x8de894ec4a1102e43cc33039d28de0b011bd2d5a'
          buyMovieOnContract(to, u4, 
            result=>{
              saveUuid(to, u4);
              console.log("saved");
              alert("購入成功");
            }, 
            err=>console.log);
            */
        });

        //  30秒間自分のアドレスを見に行き、お金が減っていたら処理が終わったことにする
        


      });
    </script>


  
  </body>
</html>