<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>マイページ（デバイス登録ページ）</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="static/css/mypage.css" rel="stylesheet">


  </head>

  <body>

    <div class="container" id="app">
      <h1>マイページ（デバイス登録ページ）</h1><br>

      <form action="/register_meta" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="addr">口座アドレス</label>
          <input type="text" class="form-control" id="addr" aria-describedby="emailHelp" placeholder="Your wallet address" disabled v-model="myAddress">
          <small id="emailHelp" class="form-text text-muted">ここで指定したアドレスに動画配信報酬が振り込まれます。</small>
          <input type="hidden" id="hiddenAddr" name="addr" v-model="myAddress">
        </div>
        <div class="form-group">
          <label for="uri">配信キー</label>
          <input type="text" class="form-control" name="uri" id="uri" aria-describedby="emailHelp" placeholder="URL" required>
          <small id="emailHelp" class="form-text text-muted">キーの値をラズベリーパイに設定してください。</small>
        </div>
        <div class="form-group">
          <label for="name">配信中の動画名</label>
          <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="東京タワー" required>
          <small id="emailHelp" class="form-text text-muted">配信中の動画の名前を設定してください。</small>
        </div>
        <div class="form-group">
          <label for="description">配信中の動画説明</label>
          <input type="text" class="form-control" name="description" id="description" aria-describedby="emailHelp" placeholder="東京タワーを常時撮影している動画です。" required>
          <small id="emailHelp" class="form-text text-muted">配信中の動画を説明してください。</small>
        </div>
        <div class="form-group">
          <input type="file" value="ファイルを選択" name="thumbnail">
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
      </form>

      <hr>

      <div>
          <p>サービス預かり残高</p>
          <p><span id="deposit">{{ myDeposit }}</span> ETH</p>
          <button id="withdraw" class="btn btn-primary">Withdraw</button>
      </div>



    </div>

    <!--
    <input type="hidden" id="abi" value='{{ data.abi }}'/>
    -->
    <input type="hidden" id="contractAddress" value='<< data.contract_address >>' />

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/js/eth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      
      var app = new Vue({
        el: '#app',
        data: {
          myAddress: null,
          myDeposit: "---"
        },
        methods: {
          
          /* コントラクト上のお金から自分のお金を引き出す */
          withdraw: function(){
            withdrawOnContract(
              result=>console.log, 
              err=>console.log
            );
          },
          
          /* データベースに更新されたデータを投げる */
          postQuery: function(){

          }

          /* アドレスに紐づく配信キーを設定する */
          

        },
        mounted(){
          /* 自分のアドレスを取得 */
          this.myAddress = web3.eth.defaultAccount;
          /* 預け金を取得 */
          getDepositedBalanceInEthOnContract(
            balance=>{
              this.myDeposit = Number(balance);
            },
            err=>console.log
          );  
        }

      }); 

    </script>

  </body>
</html>